h1 {
    text-align: center;
    padding: 20px 0;
}

#card {
    width: 400px;
    height: 250px;
    border: 1px solid black;
    padding: 10px;
}

.background {
    background: #eee;
    padding: 30px;
    margin-bottom: 30px;
}

/*
#container {
	width: 50%;
	background-color: beige;
	margin: 0 auto 0 auto;
	padding: 50px;
}

#higher, #lower {
	display: block;
	height: 80px;
	width: 160px;
	margin: 10px auto 10px auto;
	font-size: 1.5em;
}*/